<div class="row">
  <div class="col-xxxl-8 col-md-8">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <echarts-pie></echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxxl-4 col-md-4">
    <nb-card>
      <nb-card-header>Bar</nb-card-header>
      <nb-card-body>
        <echarts-bar></echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
    <nb-card >
      <nb-card-body>
        <div class="progress-info" >
          <div class="subtitle">Today's website hits</div>
          <div class="h3">1020</div>
        </div>
        <div class="progress-info" >
          <div class="subtitle">This month website hits</div>
          <div class="h3">12000</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>
</div>
